{% extends 'base.html.twig' %}
{% block title %} Listagem de Cliente  {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1>Listagem de Clientes</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('cadastrar_cliente') }}" class="btn btn-primary pull-left">Cadastrar Cliente</a>
        </div>
        </div>
    <hr>
    <table class="table table-hover table-striped">
        <thead>
        <tr><th>Cod.</th><th>Nome</th><th>E-mail</th></tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td><a href="{{ path('visualizar_cliente', {"id": cliente.id}) }}">{{ cliente.nome }}</a></td>
                <td>{{ cliente.email }}</td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="3">Nenhum registro encontrado!</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
